{
  "useTabs": true,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "parser": ["babel", "scss"],
  "noSemi": true,
  "rcVerbose": true,
  "semicolons": true,
  "jsxQuotes": true
}