body{
	background: olive;
	
	h1{
		text-align: center;
		color: blue;
		
		@media screen and(max-width: 800px){
			color: yellow;
		}
	}

	h2{
		text-align: center;
		color: blue;
		
		@media screen and(max-width: 800px){
			color: red;
		}
	}

	.img{
		width: auto;
		height: auto;
		background-image: url('../img/demo.jpg');
	}
}